
# top-most EditorConfig file
root = true

# default file settings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# javascript files
[*.js]
indent_style = tab
indent_size = 4

# html files
[*.html]
indent_style = tab
indent_size = 4

# npm, bower file format
[{package.json,bower.json,.bowerrc}]
indent_style = space
indent_size = 2
